StatisticalLearning_Project1 - Laliga

In [1]:
#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.(5 points)
import pandas as pd
#Read Laliga csv into laliga DataFrame
laliga=pd.read_csv('Laliga.csv')
#Assign 1st row as column name
laliga=laliga.rename(columns=laliga.loc[0]).drop(laliga.index[0])
#Replace all dashes with 0
laliga.loc[:,'Points':'T'].replace({'-':0},regex=True,inplace=True)
#convert to int before applying as row index
#laliga.loc[:,'Pos']=laliga.loc[:,'Pos'].astype(int)
laliga['Pos']=pd.to_numeric(laliga['Pos'])
#Apply as row index
laliga.set_index('Pos',inplace=True)
#convert to int so that Arithmetic operations can be performed
#laliga.loc[:,'Seasons':'T'] = laliga.loc[:,'Seasons':'T'].astype(int)
laliga['Team']=pd.Categorical(laliga['Team'])
laliga['Seasons']=pd.to_numeric(laliga['Seasons'])
laliga['Points']=pd.to_numeric(laliga['Points'])
laliga['GamesPlayed']=pd.to_numeric(laliga['GamesPlayed'])
laliga['GamesWon']=pd.to_numeric(laliga['GamesWon'])
laliga['GamesDrawn']=pd.to_numeric(laliga['GamesDrawn'])
laliga['GamesLost']=pd.to_numeric(laliga['GamesLost'])
laliga['GoalsFor']=pd.to_numeric(laliga['GoalsFor'])
laliga['GoalsAgainst']=pd.to_numeric(laliga['GoalsAgainst'])
laliga['Champion']=pd.to_numeric(laliga['Champion'])
laliga['Runner-up']=pd.to_numeric(laliga['Runner-up'])
laliga['Third']=pd.to_numeric(laliga['Third'])
laliga['Fourth']=pd.to_numeric(laliga['Fourth'])
laliga['Fifth']=pd.to_numeric(laliga['Fifth'])
laliga['Sixth']=pd.to_numeric(laliga['Sixth'])
laliga['T']=pd.to_numeric(laliga['T'])
laliga['Debut']=pd.Categorical(laliga['Debut'])
laliga['Since/LastApp']=pd.Categorical(laliga['Since/LastApp'])
laliga['BestPosition']=pd.to_numeric(laliga['BestPosition'])
#info
print(laliga.info())
#Random Arithmetic operation test
print('Sum of Champion column is = ',laliga['Champion'].sum())
laliga.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 1 to 61
Data columns (total 19 columns):
Team             61 non-null category
Seasons          61 non-null int64
Points           61 non-null int64
GamesPlayed      61 non-null int64
GamesWon         61 non-null int64
GamesDrawn       61 non-null int64
GamesLost        61 non-null int64
GoalsFor         61 non-null int64
GoalsAgainst     61 non-null int64
Champion         61 non-null int64
Runner-up        61 non-null int64
Third            61 non-null int64
Fourth           61 non-null int64
Fifth            61 non-null int64
Sixth            61 non-null int64
T                61 non-null int64
Debut            61 non-null category
Since/LastApp    61 non-null category
BestPosition     61 non-null int64
dtypes: category(3), int64(16)
memory usage: 14.4 KB
None
Sum of Champion column is =  87

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [2]:
#Print all the teams which have started playing between 1930-1980. (5 points)
laliga[pd.to_numeric(laliga.Debut.str.split('-').str[0]).between(1930, 1981)].loc[:,('Team','Debut')]

                    Team    Debut
Pos
4               Valencia  1931-32
6                Sevilla  1934-35
9               Zaragoza  1939-40
10            Real Betis  1932-33
11   Deportivo La Coruna  1941-42
12            Celta Vigo  1939-40
13            Valladolid  1948-49
15        Sporting Gijon  1944-45
16               Osasuna  1935-36
17                Malaga  1949-50
18                Oviedo  1933-34
19              Mallorca  1960-61
20            Las Palmas  1951-52
22               Granada  1941-42
23        Rayo Vallecano  1977-78
24                 Elche  1959-60
26              Hercules  1935-36
27              Tenerife  1961-62
28                Murcia  1940-41
29                Alaves  1930-31
30               Levante  1963-64
31             Salamanca  1974-75
32              Sabadell  1943-44
33                 Cadiz  1977-78
35             Castellon  1941-42
38               Cordoba  1962-63
40            Recreativo  1978-79
41             Burgos CF  1971-72
42            Pontevedra  1963-64
47             Gimnastic  1947-48
50              Alcoyano  1945-46
51                  Jaen  1953-54
53            AD Almeria  1979-80
55                Lleida  1950-51
58                Condal  1956-57
59       Atletico Tetuan  1951-52
60      Cultural Leonesa  1955-56

In [3]:
#Print the list of teams which came Top 5 in terms of points (5 points)
laliga.sort_values(by=['Points','Team'],ascending=False,inplace=False).loc[1:5,('Team','Points')]

                Team  Points
Pos
1        Real Madrid    4385
2          Barcelona    4262
3    Atletico Madrid    3442
4           Valencia    3386
5    Athletic Bilbao    3368

In [4]:
""" Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. 
Using the same function, find the team which has maximum and minimum goal difference. (5 points)
Goal_diff_count = GoalsFor - GoalsAgainst """
def Goal_diff_count(df):
    laliga['Goal_diff_count']=laliga.GoalsFor-laliga.GoalsAgainst
    min_diff=laliga[laliga['Goal_diff_count']==laliga['Goal_diff_count'].min()]
    max_diff=laliga[laliga['Goal_diff_count']==laliga['Goal_diff_count'].max()]
    return min_diff.loc[:,('Team','Goal_diff_count')], max_diff.loc[:,('Team','Goal_diff_count')], laliga.loc[:,('Team','Goal_diff_count')]
min_diff,max_diff, all_team_goal_diff=Goal_diff_count(laliga)
print('Team which has minimum goal difference -\n\n',min_diff)
print('Team which has maximum goal difference -\n\n',max_diff)
print('All team goal difference -\n\n',all_team_goal_diff)

Team which has minimum goal difference -

                  Team  Goal_diff_count
Pos
14   Racing Santander             -525
Team which has maximum goal difference -

             Team  Goal_diff_count
Pos
1    Real Madrid             2807
All team goal difference -

                     Team  Goal_diff_count
Pos
1            Real Madrid             2807
2              Barcelona             2786
3        Atletico Madrid             1225
4               Valencia              929
5        Athletic Bilbao              931
6                Sevilla              307
7               Espanyol             -280
8          Real Sociedad               -2
9               Zaragoza             -164
10            Real Betis             -333
11   Deportivo La Coruna             -136
12            Celta Vigo             -346
13            Valladolid             -413
14      Racing Santander             -525
15        Sporting Gijon             -399
16               Osasuna             -334
17                Malaga             -342
18                Oviedo             -309
19              Mallorca             -189
20            Las Palmas             -399
21            Villarreal              103
22               Granada             -338
23        Rayo Vallecano             -328
24                 Elche             -272
25                Getafe             -113
26              Hercules             -334
27              Tenerife             -125
28                Murcia             -385
29                Alaves             -165
30               Levante             -202
..                   ...              ...
32              Sabadell             -228
33                 Cadiz             -269
34              Logrones             -198
35             Castellon             -169
36              Albacete              -90
37               Almeria             -122
38               Cordoba             -145
39            Compostela              -42
40            Recreativo              -94
41             Burgos CF              -94
42            Pontevedra              -56
43              Numancia              -98
44                 Eibar              -28
45                Arenas              -81
46           Real Burgos              -38
47             Gimnastic             -114
48           Extremadura              -55
49                Merida              -45
50              Alcoyano             -107
51                  Jaen              -62
52            Real Union              -31
53            AD Almeria              -45
54                Europa              -34
55                Lleida             -112
56               Leganes              -19
57                 Xerez              -28
58                Condal              -20
59       Atletico Tetuan              -34
60      Cultural Leonesa              -31
61                Girona                0

[61 rows x 2 columns]

In [5]:
'''
Create a new column with name “Winning Percent” and append it to the data set
Percentage of Winning = (GamesWon / GamesPlayed)*100
If there are any numerical error, replace it with 0%
Print the top 5 teams which has the highest Winning percentage (5 points)
'''
laliga['Winning Percent']=(laliga['GamesWon']/laliga['GamesPlayed']*100).fillna(0)
print('Top 5 teams which has the highest Winning percentage \n',laliga.sort_values(by=['Winning Percent','Team'],ascending=False,inplace=False).loc[1:5,('Team','Winning Percent')])
laliga.tail(5)

Top 5 teams which has the highest Winning percentage
                 Team  Winning Percent
Pos
1        Real Madrid        59.630702
2          Barcelona        57.241130
3    Atletico Madrid        47.475134
4           Valencia        44.557057
5    Athletic Bilbao        43.772629

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning Percent
Pos,,,,,,,,,,,,,,,,,,,,,
57,Xerez,1,34,38,8,10,20,38,66,0,...,0,0,0,0,0,2009-10,2009-10,20,-28,21.052632
58,Condal,1,22,30,7,8,15,37,57,0,...,0,0,0,0,0,1956-57,1956-57,16,-20,23.333333
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,...,0,0,0,0,0,1951-52,1951-52,16,-34,23.333333
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,...,0,0,0,0,0,1955-56,1955-56,15,-31,16.666667
61,Girona,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,0,0.000000

In [6]:
'''
Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
Eg: Best Position                Points
        1                        25000
        2                        7000 
'''
temp=laliga.groupby(['BestPosition']).sum().loc[:,'Points']
print('Sum of the Points based on Best Position -')
print('Best Position\t' 'Points')
for label, content in temp.items():
    print(label,content, sep='\t\t')

Sum of the Points based on Best Position -
Best Position	Points
1		27933
2		6904
3		5221
4		6563
5		1884
6		2113
7		1186
8		1134
9		96
10		450
11		445
12		511
14		71
15		14
16		81
17		266
19		81
20		34